body{
    overflow-x: hidden;
    background-color: var(--color-alternativo);
}

:root {
    --color-alternativo: #194957; 
    --color-principal: #4BA0BA;
    --color-mas-claro-que-el-oscuro:#0c2831;
    --color-mas-oscuro:#091a1f;
}

.Header-Sticky{
    position: sticky; top: 0;
    z-index: 3;
}

.color-fondo-nav{
    background: var(--color-principal);
}

.coloris{
    color: #fff;
}