body{
    overflow-x: hidden;
    background-color: var(--color-alternativo);
    
}

.imagendeprueba{
    background-image: url(https://img.freepik.com/fotos-premium/moderno-fondo-telefono-inteligente-dorado-conectores-mesa-oscura-maqueta-primer-plano_1027059-10792.jpg?w=996);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

:root {
    --color-alternativo: #194957; 
    --color-principal: #4BA0BA;
    --color-mas-claro-que-el-oscuro:#0c2831;
    --color-mas-oscuro:#091a1f;
}

.Header-Sticky{
    position: sticky; top: 0;
    z-index: 3;
}

.color-fondo-nav{
    background: var(--color-principal);
}

.coloris{
    color: #fff;
}

.tamaño-letra-offcanvas{
    font-size: 19px;
}

.img-celulares{
    background-image: ;
}