body{
    background-color: #0a1831;
}

.fondo-index{
    background-image: url(../IMG/Imagen-peliculas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}